#### Variables are dynamicly typed because the type is determined at run time

In [2]:
n = 0
print("n = ",n)

n = "abc"
print("n = ",n)

n =  0
n =  abc

#### Multiple assignments

In [3]:
n, m = 0 , "abc"
a, b, c = 0.125, "xyz", False

#### Increment

In [4]:
n = n + 1 
n += 1 
#But n++ is not working in python

#### None is null (absence of value)

In [5]:
n = 4 
n = None
print("n = ",n)

n =  None

#### If statements don't need parentheses or curly braces

In [6]:
n = 1
if n>1:
    n-=1
elif n==2:
    n*=2
else:
    n+=2

### Parentheses needed for multi-line conditions. In python '&&' means by 'and' and '||' represents by 'or'

In [7]:
n, m = 1, 2 
if((n>2 and n!=m) or n==m): #if we are not use parentheses here then we got "Syntex Error" 
    n+=1

#### While loop

In [9]:
n = 0
while n < 5:
    print(n)
    n+=1

0
1
2
3
4

#### Looping from i = 0 to i = 4

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

#### Looping from i = 2 to i = 5

In [12]:
for i in range(2,6):
    print(i)

2
3
4
5

#### Looping from i = 5 to i = 2

In [13]:
for i in range(5,1,-1):
    print(i)

5
4
3
2

#### Division is decimal by default

In [14]:
print(5/2)

2.5

#### Double slash rounds down

In [15]:
print(5//2)

2

In [18]:
print(-3/2)

-1.5

In [19]:
print(-3//2)

-2

-3 divided by 2 is -1.5. However for negative number division it takes near highest negative value so it gives us -2 as the result.To solve this problem, we need to write

In [21]:
print(int(-3/2))

-1

#### Modding

In [22]:
10%3

1

In [23]:
-10%3

2

So it gives unexpected result for negative values. To solve this issue, we need to write

In [25]:
import math
print(math.fmod(-10,3))

-1.0

#### More math helpers

In [26]:
3/2

1.5

In [27]:
math.floor(3/2)  #It takes lowest nearest value

1

In [28]:
math.ceil(3/2)   #It takes highest nearest value

2

In [29]:
math.sqrt(4)

2.0

In [30]:
math.pow(2,3)   #It means 2 to the power 3

8.0

If we ever need maximum integer we can use float infinity

In [31]:
float('inf')

inf

In [32]:
positive_infinity = float('inf')

In [34]:
result = positive_infinity+10
result

inf

In [37]:
math.pow(2,200)

1.6069380442589903e+60

In [38]:
math.pow(2,200)<float('inf')

True

Infinity plus any finite number is still infinity, and infinity minus infinity is not a valid number (results in nan, "Not a Number").

In [36]:
a = float('inf')
b = float('inf')
result = a-b
result

nan

If we ever need a minimum integer we can use float negative infinity

In [39]:
float('-inf')

-inf

#### Arrays (called lists in python)

In [41]:
arr = [1,2,3]
arr

[1, 2, 3]

Arrays in python are dynamic arrays by default. Dynamic arrays can be used as stacks. So

In [42]:
#For push operation
arr.append(4)
arr.append(5)
arr

[1, 2, 3, 4, 5]

In [43]:
#For pop operation
arr.pop()
arr

[1, 2, 3, 4]

But this is technically an array and not a stack. So we can use insert operation in the array.

In [44]:
arr.insert(1,7)
arr

[1, 7, 2, 3, 4]

But unlike pushing and popping from an array inserting into the middle is a big O(n) operation. But it's not a O(n) to index an array. These operations are constant time operation. For example

In [45]:
arr[0] = 0
arr[3] = 0 
arr

[0, 7, 2, 0, 4]

Initialize arr of size n with default value of 1

In [46]:
n = 5
arr = [1] * n
print(arr)
print(len(arr))

[1, 1, 1, 1, 1]
5

In [47]:
arr = [1,2,3,4]
arr[-1]  #Negative value read the last element of the array

4

For second last value

In [49]:
arr[-2]

3

Sublists also known as slicing

In [51]:
arr = [1,2,3,4]
print(arr[1:3]) #similar to for loop ranges and last index is exclusive

[2, 3]

Unpacking

In [52]:
a,b,c = [1,2,3]
print(a,b,c)

1 2 3

Loop through array

In [54]:
nums = [1,2,3]
#using index
for i in range(len(nums)):
    print(nums[i])

1
2
3

In [56]:
#Without index
for n in nums:
    print(n)

1
2
3

In [59]:
#with index and value
for index,value in enumerate(nums):
    print(index,value)

0 1
1 2
2 3

Loop through multiple arrays simultaneously with unpacking

In [60]:
num1 = [1,3,5]
num2 = [2,4,6]
for n1,n2 in zip(num1,num2):
    print(n1,n2)

1 2
3 4
5 6

Reverse an array

In [61]:
arr = [9,8,7]
arr.reverse()
arr

[7, 8, 9]

Sorting an array

In [62]:
arr = [1,6,7,8,3,2,4]
arr.sort()
arr

[1, 2, 3, 4, 6, 7, 8]

If we want descending order sorting then

In [64]:
arr.sort(reverse=True)
arr

[8, 7, 6, 4, 3, 2, 1]

We can sort strings also. For example

In [65]:
arr = ["bob","alice","jane","doe"]
arr.sort()
arr

['alice', 'bob', 'doe', 'jane']

We can also sort string according to their length. For this we need to use lambda function

In [67]:
arr.sort(key= lambda x: len(x))
arr

['bob', 'doe', 'jane', 'alice']

#### List Comprehension

In [68]:
arr = [i for i in range(5)]
arr

[0, 1, 2, 3, 4]

In [69]:
arr = [i+i for i in range(5)]
arr

[0, 2, 4, 6, 8]

2D lists

In [73]:
arr = [[0]*4 for i in range(4)]
arr

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [74]:
arr = [[0]*i for i in range(4)]
arr

[[], [0], [0, 0], [0, 0, 0]]

#### Strings are similar to arrays

In [76]:
s = "abc"
s[0:2]

'ab'

But a key point is that they are immutable.That means we can't modify this strings, that means we can't reassign the character at index zero

In [78]:
#s[0] = "A" it shows an error "TypeError: 'str' object does not support item assignment"

However we can update the string but updating it will actually create a new string. So modify a string considered an endtime operation. For example

In [79]:
s = "abc"
s +="def"
s

'abcdef'

To find the ASCII value of a char. We need to use ORD function

In [80]:
print(ord('a'))

97

In [81]:
print(ord('b'))

98

Combine a list of strings (with an empty string delimitor)

In [82]:
strings = ["ab","cd","ef"]
print("".join(strings))

abcdef

#### Queue (double ended queue)

In [94]:
from collections import deque

queue = deque()
queue.append(1)
queue.append(2)
queue

deque([1, 2])

In [95]:
queue.popleft()
queue

deque([2])

In [96]:
queue.appendleft(1)
queue

deque([1, 2])

In [97]:
queue.pop()
queue

deque([1])

#### HashSet 
using this we can search value in constant time and we can insert or remove values in constant time. There won't be any duplicates in our set

In [99]:
mySet = set()

mySet.add(1)
mySet.add(2)
mySet

{1, 2}

In [100]:
len(mySet)

2

Search item in set

In [101]:
1 in mySet

True

In [102]:
2 in mySet

True

In [103]:
3 in mySet

False

In [104]:
mySet.remove(2)
2 in mySet

False

Set comprehension is also possible

In [105]:
s = {i for i in range(5)}
s

{0, 1, 2, 3, 4}

#### HashMap also known as dictionary 
It can't take duplicate keys inside of the hashmap.

In [107]:
myMap = {}

myMap['Alice'] = 88
myMap['Bob'] = 77
myMap

{'Alice': 88, 'Bob': 77}

Taking the length will give us the number of keys that exist in our hashmap.

In [108]:
len(myMap)

2

We can modify the value that's mapped to a key.

In [109]:
myMap['Alice'] = 80
myMap

{'Alice': 80, 'Bob': 77}

Search 'key' in hashmap

In [110]:
'Alice' in myMap

True

In [111]:
77 in myMap  #Search 'value' is not valid way

False

In [112]:
myMap.pop('Alice')

80

In [113]:
myMap

{'Bob': 77}

Initialization

In [114]:
myMap = {'Alice':40, "Bob": 550} 
myMap

{'Alice': 40, 'Bob': 550}

Dict comprehension

In [118]:
myMap = {i:i*2 for i in range(3)}
myMap   #It is most frequently used in graph problems to build adjacency list

{0: 0, 1: 2, 2: 4}

Looping through maps

In [119]:
myMap = {'Alice':40, "Bob": 550} 

for key in myMap:
    print(key, myMap[key])

Alice 40
Bob 550

In [120]:
for val in myMap.values():
    print(val)

40
550

In [121]:
for key, val in myMap.items():
    print(key, val)

Alice 40
Bob 550

#### Tuples are like arrays but immutable

In [124]:
tup = (1,2,3)
print(tup)
print(tup[0])
print(tup[-1])

(1, 2, 3)
1
3

In [126]:
#tup[0] = 0 it shows an error because we can't modify them

Can be used as key for hash map / set

In [127]:
myMap = {(1,2):3}
myMap[(1,2)]

3

In [129]:
mySet = set()
mySet.add((1,2))
print(mySet)
print((1,2) in mySet)

{(1, 2)}
True

List can't be used as a keys

In [131]:
#myMap[[3,4]] = 5 it shows "TypeError: unhashable type: 'list'"

#### Heaps
By default heaps in python are Min heaps

In [135]:
import heapq

minHeap = []
heapq.heappush(minHeap,3)
heapq.heappush(minHeap,2)
heapq.heappush(minHeap,4)
minHeap

[2, 3, 4]

Min is always at index 0

In [136]:
while len(minHeap):
    print(heapq.heappop(minHeap))

2
3
4

To find Max heap we need to multiply by -1 when we use push and pop operation.

In [145]:
import heapq

maxHeap = []
heapq.heappush(maxHeap, -3)
heapq.heappush(maxHeap, -2)
heapq.heappush(maxHeap, -4)
maxHeap

[-4, -2, -3]

First index always return max value

In [146]:
print(-1 * maxHeap[0])

4

In [147]:
while len(maxHeap):
    print(-1 * heapq.heappop(maxHeap))

4
3
2

Bulid heap from initial values

In [148]:
import heapq

arr = [2,1,8,4,5]

heapq.heapify(arr)

while arr:
    print(heapq.heappop(arr))

1
2
4
5
8

#### Function

In [149]:
def myFunc(a, b):
    return(a*b)

myFunc(5,6)

30

Nested loop

In [151]:
def outer(a,b):
    c = "c"
    def inner():
        return a+b+c
    return inner()

outer("a","b")

'abc'