#### Variables are dynamicly typed because the type is determined at run time

In [2]:
n = 0
print("n = ",n)

n = "abc"
print("n = ",n)

n =  0
n =  abc

#### Multiple assignments

In [3]:
n, m = 0 , "abc"
a, b, c = 0.125, "xyz", False

#### Increment

In [4]:
n = n + 1 
n += 1 
#But n++ is not working in python

#### None is null (absence of value)

In [5]:
n = 4 
n = None
print("n = ",n)

n =  None

#### If statements don't need parentheses or curly braces

In [6]:
n = 1
if n>1:
    n-=1
elif n==2:
    n*=2
else:
    n+=2

### Parentheses needed for multi-line conditions. In python '&&' means by 'and' and '||' represents by 'or'

In [7]:
n, m = 1, 2 
if((n>2 and n!=m) or n==m): #if we are not use parentheses here then we got "Syntex Error" 
    n+=1

#### While loop

In [9]:
n = 0
while n < 5:
    print(n)
    n+=1

0
1
2
3
4

#### Looping from i = 0 to i = 4

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

#### Looping from i = 2 to i = 5

In [12]:
for i in range(2,6):
    print(i)

2
3
4
5

#### Looping from i = 5 to i = 2

In [13]:
for i in range(5,1,-1):
    print(i)

5
4
3
2

#### Division is decimal by default

In [14]:
print(5/2)

2.5

#### Double slash rounds down

In [15]:
print(5//2)

2

In [18]:
print(-3/2)

-1.5

In [19]:
print(-3//2)

-2

-3 divided by 2 is -1.5. However for negative number division it takes near highest negative value so it gives us -2 as the result.To solve this problem, we need to write

In [21]:
print(int(-3/2))

-1

#### Modding

In [22]:
10%3

1

In [23]:
-10%3

2

So it gives unexpected result for negative values. To solve this issue, we need to write

In [25]:
import math
print(math.fmod(-10,3))

-1.0

#### More math helpers

In [26]:
3/2

1.5

In [27]:
math.floor(3/2)  #It takes lowest nearest value

1

In [28]:
math.ceil(3/2)   #It takes highest nearest value

2

In [29]:
math.sqrt(4)

2.0

In [30]:
math.pow(2,3)   #It means 2 to the power 3

8.0

If we ever need maximum integer we can use float infinity

In [31]:
float('inf')

inf

In [32]:
positive_infinity = float('inf')

In [34]:
result = positive_infinity+10
result

inf

In [37]:
math.pow(2,200)

1.6069380442589903e+60

In [38]:
math.pow(2,200)<float('inf')

True

Infinity plus any finite number is still infinity, and infinity minus infinity is not a valid number (results in nan, "Not a Number").

In [36]:
a = float('inf')
b = float('inf')
result = a-b
result

nan

If we ever need a minimum integer we can use float negative infinity

In [39]:
float('-inf')

-inf

#### Arrays (called lists in python)

In [41]:
arr = [1,2,3]
arr

[1, 2, 3]

Arrays in python are dynamic arrays by default. Dynamic arrays can be used as stacks. So

In [42]:
#For push operation
arr.append(4)
arr.append(5)
arr

[1, 2, 3, 4, 5]

In [43]:
#For pop operation
arr.pop()
arr

[1, 2, 3, 4]

But this is technically an array and not a stack. So we can use insert operation in the array.

In [44]:
arr.insert(1,7)
arr

[1, 7, 2, 3, 4]

But unlike pushing and popping from an array inserting into the middle is a big O(n) operation. But it's not a O(n) to index an array. These operations are constant time operation. For example

In [45]:
arr[0] = 0
arr[3] = 0 
arr

[0, 7, 2, 0, 4]

Initialize arr of size n with default value of 1

In [46]:
n = 5
arr = [1] * n
print(arr)
print(len(arr))

[1, 1, 1, 1, 1]
5

In [47]:
arr = [1,2,3,4]
arr[-1]  #Negative value read the last element of the array

4

For second last value

In [49]:
arr[-2]

3

Sublists also known as slicing

In [51]:
arr = [1,2,3,4]
print(arr[1:3]) #similar to for loop ranges and last index is exclusive

[2, 3]

Unpacking

In [52]:
a,b,c = [1,2,3]
print(a,b,c)

1 2 3

Loop through array

In [54]:
nums = [1,2,3]
#using index
for i in range(len(nums)):
    print(nums[i])

1
2
3

In [56]:
#Without index
for n in nums:
    print(n)

1
2
3

In [59]:
#with index and value
for index,value in enumerate(nums):
    print(index,value)

0 1
1 2
2 3

Loop through multiple arrays simultaneously with unpacking

In [60]:
num1 = [1,3,5]
num2 = [2,4,6]
for n1,n2 in zip(num1,num2):
    print(n1,n2)

1 2
3 4
5 6

Reverse an array

In [61]:
arr = [9,8,7]
arr.reverse()
arr

[7, 8, 9]

Sorting an array

In [62]:
arr = [1,6,7,8,3,2,4]
arr.sort()
arr

[1, 2, 3, 4, 6, 7, 8]

If we want descending order sorting then

In [64]:
arr.sort(reverse=True)
arr

[8, 7, 6, 4, 3, 2, 1]

We can sort strings also. For example

In [65]:
arr = ["bob","alice","jane","doe"]
arr.sort()
arr

['alice', 'bob', 'doe', 'jane']

We can also sort string according to their length. For this we need to use lambda function

In [67]:
arr.sort(key= lambda x: len(x))
arr

['bob', 'doe', 'jane', 'alice']